.contactsBlock {
    background-color: blue;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.contacts {

}
.title{
    background-color: #eeeef5;
}

.formContainer {
    width: 50%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.submitBtn{
    padding: 10px 20px;
    background-color: #eeeef5;
}

.formContainer input, .formContainer textarea {
    width: 100%;
}