.contactsBlock {
    height: 100vh;
    background-color: #1f1f20;
}

.contactsContainer {

    flex-direction: column;
    justify-content: flex-start;
}

ul {
    padding: 0;
}
li {
    margin-bottom: 30px;
}



.formContainer {
    width: 50%;
    height: 150px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.submitBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: transparent;
    border: 2px solid #4e93e6;
    border-radius: 5px;
    margin: 15px auto;
    transition: 0.5s;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #fff;
    width: 140px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

.submitBtn[disabled] {
    opacity: .2;
    cursor: default;
}

.submitBtn[disabled]:hover {
    letter-spacing: 0;
}

.formContainer input, .formContainer textarea {
    width: 100%;
}

textarea {
    padding: 10px;
    height: 120px;
    width: 100%;
    resize: none;
    border: 1px solid white;
    background-color: #252527;
    color: white;
}

input {
    padding: 10px;
    width: 100%;
    border: 1px solid white;
    background-color: #252527;
    color: white;
}
