.skillsBlock {
    min-height: 100vh;
    background-color: gold;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: grey;
}

.skills {
    border: solid 1px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}