.teleworkBlock {
    height: 60vh;
    background-color: #252527;
}

.teleworkContainer {

    flex-direction: row;
    justify-content: flex-start;
}

.telework {
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f20;

}


.teleworkButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: transparent;
    overflow: hidden;
    border: 2px solid #4e93e6;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 40px;
    transition: 0.5s;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #fff;
    width: 140px;
    height: 40px;
    font-size: 16px;
}

.teleworkButton:hover {
    color: #4e93e6
}