@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixin';

.project {
  width: 450px;
  background: $bgSecondColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;


  .imageContainer {
    height: 300px;
    width: 100%;
    background-color: $bgColor;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-color: $bgSecondColor;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.4;
    }
  }

  .projectInfo {
    padding: 25px 20px;
    width: 100%;


    .projectTitle {
      @include text($titleFontFamily, 16px, 1.2,);
      letter-spacing: 1px;
      margin: 15px 0 0 0;
      color: $primaryColor


    }

    .description {
      @include text($textFontFamily, 12px, 1.8);
      font-weight: 400;
    }
  }
  .projectButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
  }

  .projectButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: transparent;
    overflow: hidden;
    border: 2px solid $primaryColor;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: .5s;
    font-family: $textFontFamily;
    font-weight: 400;
    color: $textColor;
    width: 140px;
    height: 40px;
    font-size: 16px;
  }
}







