.footerBlock {
    background-color: #252527;
    padding: 20px;
}

.footerContainer {
    flex-direction: row;
    justify-content: space-evenly;
}


.footer {
    border: solid 1px;
    width: 280px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.icon {
    height: 60px;
    width: 60px;
    background-color: rosybrown;
}

.allRightReserved {
    visibility: visible;
    animation-name: fadeInUp;
    font: 400 14px/1.8 'Poppins', sans-serif;
    text-align: center;
    margin: 0;
    color: rgba(255, 255, 255, .5);
}
