.projectsBlock {
    padding: 100px 0;
    background-color: #1f1f20;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}



.projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    align-items: flex-start;
}

@media screen and (max-width: 871px) {
    .projects {
        justify-content: center;
    }
}
